#explore--our--projects{
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
}

#projects--container{
    width: 80%;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
}

.project--card{
    width: 40rem;
    height: 20rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
    font-family: 'Sarabun', sans-serif;
    background-size: cover; /* Adjust the sizing as needed */
    background-position: center; /* Adjust the positioning as needed */
    background-repeat: no-repeat;
    box-shadow: 2px 2px 4px gray;
    background-color: rgb(199, 237, 212);
}


.project--card img{
    width: 100%;
    height: 20rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;

   
    font-family: 'Sarabun', sans-serif;
    background-size: cover; /* Adjust the sizing as needed */
    background-position: center; /* Adjust the positioning as needed */
}

.project--card a{
    background-color: rgb(7, 7, 7);
    opacity: .8;
    color: white;
    width: 75%;
    height: 2.5rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    border-radius: 3rem;
    padding: .2rem;
    text-decoration: none;
    position: absolute;
    bottom:1rem;
    left: 50%;
    transform: translateX(-50%);



}




.project--card a:hover{
    transition: .1s ease-in-out;
    background-color: white;
    border: 1px solid black;
    color: black;

}



















/* ---------------------------------------------------------------------------------------------- */















@media only screen and (max-width: 767px) {


    #explore--our--projects{
        font-size: 2rem;
        font-family: 'Montserrat', sans-serif;
    }


    #projects--container{
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-content: center;
    }


    .project--card{
        width: auto;
        height: 15rem;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1rem;

        font-family: 'Sarabun', sans-serif;
        background-size: cover; /* Adjust the sizing as needed */
        background-position: center; /* Adjust the positioning as needed */
        background-repeat: no-repeat;
        box-shadow: 2px 2px 4px gray;
    }

    .project--card img{
        width: 100%;
        height: 15rem;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        object-fit: cover;
        font-family: 'Sarabun', sans-serif;
        background-size: cover; /* Adjust the sizing as needed */
        background-position: center; /* Adjust the positioning as needed */
    }
    
    .project--card a{
        background-color: rgb(7, 7, 7);
        opacity: .8;
        color: white;
        width: 90%;
        height: 1.5rem;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Montserrat', sans-serif;
        font-size: .7rem;
        border-radius: 3rem;
        padding: .2rem;
        text-decoration: none;
        position: absolute;
        bottom:1rem;
        left: 50%;
        transform: translateX(-50%);
    
    
    
    }
    
    
    
    


}
